@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: .05rem;
  color: black;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: var(--clr-light);
  background-color: transparent;
  border: 2px solid var(--clr-neon);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  /* color: #446677; */
  color: var(--clr-dark);
  background-color: var(--clr-neon);
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--clr-light);
}

.brand h1 span {
  color: var(--clr-neon);
}

.section-title {
  font-size: 4rem;
  font-weight: 400;
  color: var(--clr-dark);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

.section-title span {
  color: var(--clr-neon);
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Variables */
:root {
  --clr-light: #fff;
  --clr-neon: aqua;
  --clr-dark: #303030;
  /* --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Source Sans Pro', sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
      0.125em 0.125em 0.25em rgba(0, 0, 0, .15); */
}

/* End of Variables */

/* Header Section */
#header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, .24);
  transition: .5s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left;
}

#header .nav-list ul.active {
  left: 0;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: var(--clr-light);
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, .021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: var(--clr-neon);
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid var(--clr-light);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(.8);
  margin-right: 20px;
}

#header .hamburger::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--clr-light);
  animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: var(--clr-light);
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: var(--clr-light);
  transition: .3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::after {
  top: 0;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}


/* End of Header Section */

/* Hero Section */
#hero {
  background-image: url(./images/hero-1.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}

#hero h1:nth-child(1) {
  animation-delay: 1s;
}

#hero h1:nth-child(2) {
  animation-delay: 2s;
}

#hero h1:nth-child(3) {
  animation: text_reveal_name .5s ease forwards;
  animation-delay: 3s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--clr-neon);
  animation: text_reveal_box 1s ease;
  animation-delay: .5s;
}

#hero h1:nth-child(1) span {
  animation-delay: .5s;
}

#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* End of Hero Section */




/* Services Section */

#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .service-top {
  max-width: 500px;
  margin: 0 auto;
}

#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#services .service-item {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#services .service-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .9;
  z-index: -1;
}

#services .service-item:nth-child(1) {
  background-image: url(./images/hero-3-resize.jpg);
  background-size: cover;
}

#services .service-item:nth-child(2) {
  background-image: url(./images/hero-7new.jpg);
  background-size: cover;
}

#services .service-item:nth-child(3) {
  background-image: url(./images/hero-2new.jpg);
  background-size: cover;
}

#services .service-item:nth-child(4) {
  background-image: url(./images/webserver-new.jpg);
  background-size: cover;
}

#services .service-bottom .icon {
  /* height: 50px;
  width: 50px; */
  margin-bottom: 20px;
}

#services .service-item h2 {
  font-size: 2rem;
  color: var(--clr-light);
  margin-bottom: 10px;
  text-transform: uppercase;
}

#services .service-item p {
  color: var(--clr-light);
  text-align: left;
}

/* End of Services Section */


/* Projects Section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-header h1 {
  margin-bottom: 50px;
}

#projects .all-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects .project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: var(--clr-light);
}

#projects .project-info h2 {
  font-size: 4rem;
  font-weight: 500;
}

#projects .project-info h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}

#projects .project-info p {
  color: var(--clr-light);
}

#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#projects .project-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .8;
}

#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}

#projects .project-img img {
  transition: transform .3s ease;
}

/* End of Projects Section */


/* About Section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 250px;
  height: 360px;
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
}

#about .col-right a {
  color: #000;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid var(--clr-light);
}

#about .col-left .about-img::after {
  content: '';
  position: absolute;
  top: 19px;
  left: -33px;
  height: 98%;
  width: 98%;
  border: 7px solid var(--clr-neon);
  z-index: -1;
}

/* End of About Section */


/* Contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

}

#contact .contact-items {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0; */

}

#contact .contact-item {
  display: flex;
  width: 80%;
  padding: 30px;
  border-radius: 10px;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: box-shadow .3s ease;
}

#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

#contact .contact-info:nth-last-child(1) h2 a {
  color: #000;
}

#contact .contact-info:nth-last-child(1) h2 a:hover {
  color: rgba(0, 210, 205, .8);
  transition: color .3s ease;
  text-decoration: underline;
}

/* End of Contact Section */

/* Send Section*/
#send .send {
  background: rgb(41, 50, 60);
  max-width: 1200px;
}

#send .container {
  /* min-height: 80vh; */
  width: 100%;
  margin: 0 auto 200px;
  padding: 20px;
  flex-direction: column;
}

#send .container h1 {
  width: 100%;
  /* color: #45f3ff; */
  color: var(--clr-light);
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#send .container h1 span {
  color: var(--clr-neon);
}

#send .container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#send .container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: .5s;
}

#send .container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--clr-neon);
}

#send .container .row100 .inputBox input,
#send .container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

#send .container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: .5s;
  pointer-events: none;
}

#send .container .row100 .inputBox input:focus+.text,
#send .container .row100 .inputBox input:valid+.text {
  top: -35px;
  left: -10px;
}

#send .container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--clr-neon);
  transition: .5s;
  border-radius: 2px;
  pointer-events: none;
}

#send .container .row100 .inputBox input:focus~.line,
#send .container .row100 .inputBox input:valid~.line {
  height: 100%;
}

#send .container .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  /* padding: 10px 0; */
}

#send .container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

#send .container .row100 .inputBox textarea:focus+.text,
#send .container .row100 .inputBox textarea:valid+.text {
  top: -35px;
  left: -10px;
}

#send .container .row100 .inputBox textarea:focus~.line,
#send .container .row100 .inputBox textarea:valid~.line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: var(--clr-neon);
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}

/* End of Send Section*/

/* Footer Section */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
}

#footer h2 {
  color: var(--clr-light);
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item img {
  filter: grayscale(1);
}

#footer .social-item:hover img {
  filter: grayscale(0);
  transition: filter .3s ease;
  background-color: var(--clr-light);
  border-radius: 50% 50%;
}

#footer p {
  color: var(--clr-light);
  font-size: 1.3rem;
}

/* End of Footer Section */



/* Keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: var(--clr-light);
  }
}

@keyframes text_reveal_name {
  100% {
    color: var(--clr-neon);
    font-weight: 700;
  }
}

/* End Keyframes */


/* Media Query for tablet */
@media only screen and (min-width:768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  .section-title {
    font-size: 6rem;
  }

  /* Hero */
  #hero h1 {
    font-size: 7rem;
  }

  /* End of Hero */

  /* Services Section*/
  #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }

  /* End of Services Section*/


  /* Project Section*/
  #projects .project-item {
    flex-direction: row;
  }

  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  #projects .all-projects .project-info {
    height: 100%;
  }

  #projects .all-projects .project-img {
    height: 100%;
  }

  /* End of Project Section*/


  /* About Section*/
  #about .about {
    flex-direction: row;
  }

  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }

  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid var(--clr-neon);
  }

  #about .col-right {
    text-align: left;
    padding: 30px;
  }

  #about .col-right h1 {
    text-align: left;
  }

  /* End of About Section*/


  /* Contact Section*/
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vw;
  }

  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;
  }

  #contact .contact-item {
    margin: 20px;
  }

  /* End of Contact Section*/

  /* Send Section*/
  #send .container {
    width: 100%;
  }

  /* End of Send Section*/

}

/* End of Media Query for tablet */


/* Media Query for Desktop */
@media only screen and (min-width:1200px) {

  /* header */
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul a::after {
    display: none;
  }

  /* End of header */
  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }

  /* Send Section*/
  #send .container {
    width: 60%;
  }

  /* End of Send Section*/
}


/* End of Media Query for Desktop */